@model Web_Projektas.ViewModel.UpdatePasswordViewModel
@{
    ViewData["Title"] = "Atnaujinti slaptažodį";
}
<style>

    body {
        text-align: center;
    }
    body {
        background-image: url('/Images/0-2005_natural-full-hd-background-full-hd-background-image.jpg');
        background-size: 100%;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
    }
    .asd {
        background-color: #8c8c8c;
        width: 500px;
        text-align: center;
        font-size: 18px;
        font-family: Arial;
        color: #404040;
        vertical-align: text-bottom;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
    }
    h1 {
        color: #404040;
        font-size: 30px;
        background-color: black;
    }
</style>

<h1>Update Password</h1>

<div class="asd">
    <div class="text-danger">@ViewBag.Error</div>
    <div class="col-md-4">
        <form asp-action="UpdatePassword">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>Old Password</p>
                <input type="password" asp-for="OldPassword" class="form-control" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>New Password</p>
                <input type="password" asp-for="NewPassword" class="form-control" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>New Password Repeat</p>
                <input type="password" class="form-control" asp-for="NewPasswordRepeat" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
            <p></p>
            <div>
                <a asp-action="Index" asp-controller="Home">Back to home page</a>
                <a asp-action="MyAccount" asp-controller="Account">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
